
  <% @posts.each do |post| %>
    <p><label>Title:</label> <%= post.name %></p>
    <p><%= post.text %></p>
  <% end %>

  <% if session[:user_id] == @posts.user_id %>
  <%= link_to "Back to profile page", user_path(session[:user_id]) %>
<% end %>
