<p><label>Title:</label> <%= @post.name %></p>
<p><%= @post.text %></p>
<p><%= link_to "See All Your Posts", userposts_path %></p>



<%= link_to "Back to profile page", user_path(session[:user_id]) %>
